<nav class="navbar navbar-dark navbar-expand bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main' %}">CSV data</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_files' %}">CSV files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_schema' %}">Create schema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>