{% extends 'base.html' %}
{% load static %}

{% block title %} | Create data schema{% endblock %}

{% block external %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$(function(){
    $('input[type=checkbox]').prop("checked", false);
});
</script>
{% endblock %}

{% block content %}

<div class="container container-margins">
    <div id="chooseColumns" class="tab">
        <h2>Choose columns for your data schema:</h2>

        <p>Choose which columns to include in the schema. You can change the order of the columns later.</p>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fullNameCheck" onclick="fullNameClick()">
            <label class="form-check-label" for="fullNameCheck" id="fullNameLabel" style="opacity:0.5">Full name</label></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="jobCheck" onclick="jobClick()">
            <label class="form-check-label" for="jobCheck" id="jobLabel" style="opacity:0.5">Job</label></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="emailCheck" onclick="emailClick()">
            <label class="form-check-label" for="emailCheck" id="emailLabel" style="opacity:0.5">Email</label></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="domainCheck" onclick="domainClick()">
            <label class="form-check-label" for="domainCheck" id="domainLabel" style="opacity:0.5">Domain name</label></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="phoneCheck" onclick="phoneClick()">
            <label class="form-check-label" for="phoneCheck" id="phoneLabel" style="opacity:0.5">Phone number</label></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="companyCheck" onclick="companyClick()">
            <label class="form-check-label" for="companyCheck" id="companyLabel" style="opacity:0.5">Company name</label></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="textCheck" onclick="textClick()">
            <label class="form-check-label" for="textCheck" id="textLabel" style="opacity:0.5">Text</label>
            <div id="textRangeForm" class="input-group" style="display:none">
                <p style="margin-top:10px;">Enter a range for a number of sentences in the text.</p>
                <p>Enter one or both range limits in the fields. If you leave 
                    any field blank, a random number will be used for it (but less than 100).</p>
                <p>
                    <input type="text" id="textMin" onclick="this.className = ''"
                    placeholder="Min number of sentences in a text">
                    <input type="text" id="textMax" onclick="this.className = ''"
                    placeholder="Max number of sentences in a text">
                    <button onclick="validateTextOrIntForm('text')"
                    class="btn btn-primary">Select this range</button>
                </p>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="integerCheck" onclick="integerClick()">
            <label class="form-check-label" for="integerCheck" id="integerLabel" style="opacity:0.5">Integer</label>
            <div id="integerRangeForm" class="input-group" style="display:none">
                <p style="margin-top:10px;">Enter a range for the number to be generated.</p>
                <p>Enter one or both range limits in the fields. If you leave 
                    any field blank, a random number will be used for it.</p>
                <p>
                    <input type="text" id="integerMin" onclick="this.className = ''"
                    placeholder="Minimum range limit">
                    <input type="text" id="integerMax" onclick="this.className = ''"
                    placeholder="Maximum range limit">
                    <button onclick="validateTextOrIntForm('integer')"
                    class="btn btn-primary">Select this range</button>
                </p>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="addressCheck" onclick="addressClick()">
            <label class="form-check-label" for="addressCheck" id="addressLabel" style="opacity:0.5">Address</label></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="dateCheck" onclick="dateClick()">
            <label class="form-check-label" for="dateCheck" id="dateLabel" style="opacity:0.5">Date</label></div>
    </div>

    <div id="orderColumns" class="tab" style="display: none">
        <h2>Order columns by dragging them:</h2>
        <ul id="sortableList" class="sortable">
            <!-- Columns chosen by a user will appear here -->
        </ul>
        <p>And choose the name for your data schema:</p>
        <input type="text" id="schemaName" name="schemaName"
        oninput="this.className = ''">
    </div>


    <div class="buttons">
        <button type="button" class="btn btn-primary" id="prevBtn" onclick="goBack()" style="display: none">&lsaquo; Back</button>
        <button type="button" class="btn btn-primary" id="nextBtn" onclick="goNext()">Next &rsaquo;</button>
        <button type="button" class="btn btn-primary" id="confrmBtn" 
        data-url="{% url 'confirm_schema_creation' %}"
        onclick="sendRequest()" style="display: none">Create</button>
    </div>
</div>

<script src="{% static 'scripts/create_schema.js' %}"></script>

{% endblock %}
