{% extends 'base.html' %}
{% load static %}

{% block title %} | Create data schema{% endblock %}

{% block external %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock %}

{% block content %}

<div class="container container-margins">
    <div class="row">
        <div id="chooseColumns" class="col">
            <h2>Choose columns for your data schema:</h2>

            <p>Choose which columns to include in the schema. You can change the order of the columns later.</p>

            <div>
                <input type="button" class="btn btn-primary" id="fullNameButton" value="+" onclick="fullNameClick()">
                <label for="fullNameButton">Full name</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="jobButton" value="+" onclick="jobClick()">
                <label for="jobButton">Job</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="emailButton" value="+" onclick="emailClick()">
                <label for="emailButton">Email</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="domainButton" value="+" onclick="domainClick()">
                <label for="domainButton">Domain name</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="phoneButton" value="+" onclick="phoneClick()">
                <label for="phoneButton">Phone number</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="companyButton" value="+" onclick="companyClick()">
                <label for="companyButton">Company name</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="textButton" value="+" onclick="textClick()">
                <label for="textButton">Text</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="integerButton" value="+" onclick="integerClick()">
                <label for="integerButton">Integer</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="addressButton" value="+" onclick="addressClick()">
                <label for="addressButton">Address</label></div>
            <div>
                <input type="button" class="btn btn-primary" id="dateButton" value="+" onclick="dateClick()">
                <label for="dateButton">Date</label></div>
        </div>

        <div id="orderColumns" class="col">
            <h2>Order columns by dragging them:</h2>
            <p>For integer and text fields you can choose one or both range 
                limits for the generated number or the number of generated 
                sentences respectively. If you leave any field blank, a random
                 number will be used for it.</p>

            <ul id="sortableList" class="sortable">
                <!-- Columns chosen by a user will appear here -->
            </ul>
            <p>And choose the name for your data schema:</p>
            <input type="text" id="schemaName" name="schemaName"
            oninput="this.className = ''">

            <div class="buttons">
                <button type="button" class="btn btn-primary" class="btn btn-primary" id="confirmButton" 
                data-url="{% url 'confirm_schema_creation' %}"
                onclick="confirmCreation()">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- templates for range forms -->
<div style="display: none">
    <inline class="textRangeForm">
            <input type="text" class="textMin" onclick="this.className = 'textMin'" size="6"
            placeholder="Min number of sentences in a text">
            <input type="text" class="textMax" onclick="this.className = 'textMax'" size="6"
            placeholder="Max number of sentences in a text">
            <button onclick="validateTextOrIntForm(this.parentNode, 'text')"
            class="btn btn-primary">Select this range</button>
    </inline>

    <inline class="integerRangeForm">
            <input type="text" class="integerMin" onclick="this.className = 'integerMin'" size="6"
            placeholder="Minimum range limit">
            <input type="text" class="integerMax" onclick="this.className = 'integerMax'" size="6"
            placeholder="Maximum range limit">
            <button onclick="validateTextOrIntForm(this.parentNode, 'integer')"
            class="btn btn-primary">Select this range</button>
    </inline>
</div>


<script src="{% static 'scripts/create_schema.js' %}"></script>

{% endblock %}
