{% extends 'base.html' %}
{% load static %}

{% block title %}CSV data{% endblock %}

{% block external %}
<style>
    input.invalid {
        background-color: #ffdddd;
    }
</style>
{% endblock %}

{% block content %}

<h3>Choose data schema</h3>
<!-- If there's no user schema, user should be able only to create one -->
{% if schemas %}
{% for schema in schemas.iterator %}

    <p><input type="radio" id="{{ schema.name }}" name="schema" value="{{ schema.name }}">
    <label for="{{ schema.name }}">{{ schema.name }}</label></p>

{% endfor %}
<h3>Enter the number of records to generate</h3>
<input type="text" id="recordsNumber" name="recordsNumber"
onclick="this.className = ''">

<button type="button" id="generateBtn" data-url="{% url 'generate_data' %}" onclick="generateData()">Generate data</button>
</form>
{% else %}
<p> There's nothing in here </p>
{% endif %}

<!-- remake form the list to the table -->
<ul id="userFiles">
    {% for file in object_list %}
    <li id="{{ file.filename }}">{{ file.filename }}</li>
    {% endfor %}
</ul>

<script src="{% static 'scripts/userfile_list.js' %}"></script>

{% endblock %}